@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300;500;800&display=swap");
.card-container {
  background-color: rgba(35, 61, 77, 0.1);
  border-radius: 1rem;
  -webkit-box-shadow: 5px 5px 15px rgba(35, 61, 77, 0.07);
          box-shadow: 5px 5px 15px rgba(35, 61, 77, 0.07);
  font-family: 'Sarabun', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  min-width: 15rem;
  max-width: 30rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  margin: 1rem;
}

.card-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-container div h3 {
  color: #233D4D;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.card-container div .percent-completed {
  color: #0a8615;
  font-size: 0.9rem;
  text-align: center;
  background-color: rgba(10, 134, 21, 0.15);
  border-radius: .5rem;
  border: 0.2rem solid #0a8615;
  padding: 0 0.75rem 0.1rem;
  min-width: 3rem;
}

.card-container ul {
  list-style: none;
  padding: 0;
  margin-left: 1rem;
  font-weight: 800;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.card-container ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.card-container ul li div input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-radius: 500rem;
  border: 0.2rem solid #233D4D;
  position: relative;
  top: 0.1rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color ease 300ms, -webkit-filter ease 200ms;
  transition: background-color ease 300ms, -webkit-filter ease 200ms;
  transition: background-color ease 300ms, filter ease 200ms;
  transition: background-color ease 300ms, filter ease 200ms, -webkit-filter ease 200ms;
}

.card-container ul li div input[type=checkbox]:active {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.card-container ul li div input[type=checkbox]:checked {
  background-color: rgba(35, 61, 77, 0.5);
}

.card-container ul li div label {
  color: #233D4D;
  cursor: text;
  outline: none;
}

.card-container button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #233D4D;
  border: none;
  background: none;
  max-width: 5rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-filter ease 100ms;
  transition: -webkit-filter ease 100ms;
  transition: filter ease 100ms;
  transition: filter ease 100ms, -webkit-filter ease 100ms;
}

.card-container button:active {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.card-container .add-button {
  margin-right: auto;
}

.card-container * {
  margin: 0;
}
/*# sourceMappingURL=card.css.map */