@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;500;800&display=swap');

$primary-card-color: #233D4D;
$success-color:      rgb(10, 134, 21);
$danger-color:       #D62246;

.card-container {
    background-color: rgba($primary-card-color, 0.1);
    border-radius:    1rem;
    box-shadow:       5px 5px 15px rgba($primary-card-color, 0.07);

    font-family: 'Sarabun', sans-serif;

    display:   flex;
    flex-flow: column wrap;

    min-width: 15rem;
    max-width: 30rem;
    height:    fit-content;
    padding:   1rem;
    margin:    1rem;

    div {
        display:         flex;
        align-items:     center;
        justify-content: space-between;

        .list-title {
            color:           $primary-card-color;
            font-size:       1.5rem;
            font-weight:     800;
            text-transform:  uppercase;
    
            margin-bottom: 0.25rem;
        }

        .percent-completed {
            color:   $success-color;
            font-size: 0.9rem;
            text-align: center;

            background-color: rgba($success-color, 0.15);
            border-radius:    .5rem;
            border:           0.2rem solid $success-color;

            padding:    0 0.75rem 0.1rem;
            min-width: 3rem;
        }
    }

    ul {
        list-style:  none;
        padding:     0;
        margin-left: 1rem;

        font-weight: 800;
        font-size:   1.1rem;
        text-transform: capitalize;

        li {
            div {
                display:         flex;
                justify-content: flex-start;
                margin-bottom:   0.5rem;
                margin-top:      0.5rem;
            
                .li-checkbox {
                    appearance:       none;

                    background-color: transparent;
                    border-radius:    500rem;
                    border:           .2rem solid $primary-card-color;

                    position:     relative;
                    top:          0.1rem;
                    padding:      0.5rem;
                    margin-right: 0.5rem;
                    
                    cursor:      pointer;
                    user-select: none;
                    
                    transition: background-color ease 300ms, filter ease 200ms;

                    &:active {
                        filter: brightness(80%);
                    }
                    &:checked {
                        background-color: rgba($primary-card-color, 0.5);
                    }
                }

                .li-label {
                    color:   $primary-card-color;
                    cursor:  text;
                    outline: none;
                    flex-grow: 1;
                }

                .delete-button {
                    color:    $danger-color;
                    position: relative;
                    top: 2px;
                }
            }
        }
    }

    button {
        align-self: center;
        color:      $primary-card-color;

        border:     none;
        background: none;

        max-width: 5rem;

        cursor: pointer;
        user-select: none;

        transition: filter ease 100ms;


        &:active {
            filter: brightness(60%);
        }
    }

    .add-button {
        margin-right: auto;
    }

    * {
        margin: 0;
    }
}